body {
  background: black;
  display: flex;
  justify-content: center;
}

.calculadora {
    width: 370px;
    height: 600px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #display {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    background: transparent;
    border: initial;  
    font-size: 40px;
    color: aliceblue;
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .botoes {
    display: grid;
    grid-template-columns: repeat(4, 25%);
  }

  button {
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 8px;
    font-size: 25px;
    border: none;
  }

  .botaoCorCinza {
    background: #777474;
    color: #ffffff;
  }

  .botaoCorCinza:active {
    background: #cac1c1;
  }

  .botaoCorLaranja {
    background: #df8816;
    color: white;
    font-weight: 600;
  }

  .botaoCorLaranja:active {
    background: white;
    color: #df8816;
  }

  .botaoCorNeutra {
    background: #302e2eef;
    color: white;
  }

  .botaoCorNeutra:active {
    background: #585555ef;
  }

  .botaoZero {
    width: 160px;
    border-radius: 70px;
    text-align: start;
    padding-left: 30px;
  }

  .botaoPonto {
    grid-column-end: 4;
  }